.container-video{
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}
.container-video .box{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}
.container-video .box video{
    max-width: 100%;
}
.container-video .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
}
.menu_toggle {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: #3366CC;
    border-bottom-right-radius: 100%;
}
.menu_toggle:active i {
    opacity: 0.8;
}
.menu_toggle i {
    color: #f0f0f0;
}
.menu_toggle .menu_open, .menu_toggle .menu_close {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}
.menu_toggle .menu_open {
    transform-origin: -100px -100px;
}
.menu_toggle .menu_close {
    transform: rotate(20deg);
    transform-origin: -100px -160px;
}
.menu_items {
    position: fixed;
    bottom: 0;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu_items li {
    height: 60px;
    margin-bottom: 30px;
    transform: translateX(-300px);
    transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}
.menu_items li:nth-child(2) {
    margin-left: 40px;
}
.menu_items li:nth-child(3) {
    margin-left: 80px;
}
.menu_items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a4a4a4;
    transition: color 0.2s;
}
.menu_items a .icon {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    color: #f0f0f0;
}
.menu_items a .icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -33px;
    margin-top: -32px;
    border-radius: 100%;
    border: 2px solid #f0f0f0;
    transition: border-color 0.2s;
}
.menu_items a:hover {
    color: #f0f0f0;
}
.menu_items a:hover .icon:after {
    border-color: #3366CC;
}
.menu_items a:active .icon {
    color: #3366CC;
}

.shazam .content {
    transform: rotate(-30deg);
}
.shazam .menu_open {
    transform: rotate(-20deg);
}
.shazam .menu_close {
    transform: rotate(0);
}
.shazam .menu_items li {
    transform: translateX(0);
    transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.shazam .menu_items li:nth-child(2) {
    transition-delay: 0.47s;
}
.shazam .menu_items li:nth-child(3) {
    transition-delay: 0.48s;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #3366CC;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
